.cart-controller{
    border: 1px solid lightgray;
    border-radius: 25px;
}
.cart-controller .btn{
    font-size: 20px;
    line-height: 30px;
    padding: 0 10px !important;
}
.success-mgs{
    animation: show-hide 1.5s ease-in-out 1 forwards;
}
@keyframes show-hide{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}